<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools">
      <a class="btn btn-primary btn-sm" [routerLink]="'/admin/orders/delivery'">
        Add Delivery Order
      </a>
      <a class="btn btn-info btn-sm" [routerLink]="'/admin/orders/counter'">
        Add Counter Order
      </a>
    </div>
  </div>
  <div class="box-body">
    <table id="lists" class="table table-striped table-bordered" cellspacing="0" width="100%" *ngIf="orders">

      <thead>
        <tr>
          <th>#</th>
          <th (click)="sort('customer_name')">Customer Name</th>
          <th>Mobile</th>
          <th>Manager Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Amount</th>
          <th>Payment Type</th>
          <th>Actions</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let order of orders;let i=index">
          <td>{{i+1}}</td>
          <td>{{order?.customer_name}}</td>
          <td>{{order?.customer_mobile}}</td>
          <td>NA</td>
          <td>NA</td>
          <td>NA</td>
          <td>{{order.final_amount}}</td>
          <td>{{order.payment_type}}</td>
          <td><button class="btn btn-info btn-xs" (click)="viewOrder(order.order_id)">View Order </button></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" *ngIf="!orders">
      <p class="text-danger">Orders not added !</p>
    </div>


  </div>
</div>