<div class="wrapper" style="height:calc(100vh)">
    <vs-header></vs-header>
    <div class="content-wrapper">
        <section class="content-header">
            <!-- <h1>
                <small>Version 2.0</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol> -->
        </section>
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
    <vs-footer></vs-footer>
</div>