<div class="box box-danger" data-select2-id="16">
  <div class="box-header with-border">
    <h3 class="box-title">Counter Order</h3>
    <div class="box-tools pull-right">
      <a routerLink="/admin/orders" class="btn btn-warning px-10"> Load Orders</a>
      <button type="button" class="btn btn-primary" (click)="print()"><i class="fa fa-print"></i> Print </button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <form [formGroup]="orderForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label id="customer_name">Customer Name</label>
            <input type="text" id="customer_name" class="form-control" formControlName="customer_name" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label id="customer_mobile">Customer Moble</label>
            <input type="text" id="customer_mobile" class="form-control" formControlName="customer_mobile" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="customer_gst">Customer GST</label>
            <input type="text" id="customer_gst" class="form-control" formControlName="customer_gst" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="allow_free_items">Allow Free Items</label>
            <select id="allow_free_items" class="form-control" formControlName="allow_free_items">
              <option [value]="'YES'" [selected]="true">Yes</option>
              <option [value]="'NO'">No</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="payment_status">Payment Status</label>
            <select id="payment_status" class="form-control" formControlName="payment_status">
              <option [value]="'PAID'" [selected]="true">Paid</option>
              <option [value]="'CREDIT'">Credit</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="payment_type">Payment Type</label>
            <select id="payment_type" class="form-control" formControlName="payment_type">
              <option [value]="'CASH'" [selected]="true">Cash</option>
              <option [value]="'CARD'">Card</option>
            </select>
          </div>
        </div>
      </div>
      <ng-container formArrayName="order_contents">
        <ng-container *ngFor="let item of orderForm.get('order_contents')['controls']; let i = index;" class="row">
          <ng-container [formGroupName]="i">
            <div class="col-md-4">
              <div class="form-group" [ngClass]="{'has-error': submitted && of[i].controls.variant_id.errors}">
                <select id="variant_id" class="form-control" formControlName="variant_id" (blur)="onBlur()">
                  <option disabled value="undefined"> Select Item </option>
                  <ng-container *ngIf="variants">
                    <option [value]="variant.variant_id" *ngFor="let variant of variants"
                      [innerHTML]="variant.variant_name"></option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" [ngClass]="{'has-error': submitted && of[i].controls.cases.errors}">
                <input formControlName="cases" class="form-control" placeholder="Cases" (blur)="onBlur()">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" [ngClass]="{'has-error': submitted && of[i].controls.bottles.errors}">
                <input formControlName="bottles" class="form-control danger-border" placeholder="Bottles"
                  (blur)="onBlur()">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="button" class="btn btn-sm btn-danger" *ngIf="toggleDelBtn" (click)="deleteItem(i)"> <i
                    class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-sm btn-primary" (click)="addItem()"> <i
                    class="fa fa-plus"></i></button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">Counter Order Contents</h4>
          <table class="table table-bordered table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Item</th>
                <th>Cases</th>
                <th>Bottles</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="this.orderForm.value.order_contents">
                <tr *ngFor="let c of this.orderForm.value.order_contents;let i=index;">
                  <td>{{i+1}}</td>
                  <td><span [innerHTML]="fetchName(c.variant_id)"></span></td>
                  <td><span [innerHTML]="c.cases"></span></td>
                  <td><span [innerHTML]="c.bottles"></span></td>
                  <td><span [innerHTML]="c.amount"></span></td>
                </tr>
              </ng-container>
              <tr>
                <td colspan="5">
                  <p></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6">
          <div class="form-group">
            <label for="discount_amount">Discount Amount</label>
            <input type="text" id="discount_amount" class="form-control" formControlName="discount_amount"
              (blur)="calcDiscount()" />
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:50%">Total Amount:</th>
                  <td>{{totalAmountLbl}}</td>
                </tr>
                <tr>
                  <th>Discount Amount</th>
                  <td>{{this.orderForm.value.discount_amount}}</td>
                </tr>
                <tr>
                  <th>Final Amount:</th>
                  <td><span [innerHTML]="finalAmountLbl"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="box-footer">
    <button type="button" class="btn btn-success" (click)="confirmOrder()"><i class="fa fa-check"></i> Confirm Order
    </button>
  </div>
</div>