<div class="connect">
    <div *ngIf="noInternetConnection">
        <div class="media">
            <div class="media-left">
                <img width="20" src="assets/dist/img/cloud-outline.svg" alt="Connected" />
            </div>
            <div class="media-body">
                <p>Online</p>
                <small></small>
            </div>
        </div>
    </div>
    <div *ngIf="!noInternetConnection">
        <div class="media">
            <div class="media-left">
                <img width="20" src="assets/dist/img/cloud-offline-outline.svg" alt="Disconnected" />
            </div>
            <div class="media-body">
                <p>You're offline</p>
                <small>Check your connecton and try again</small>
            </div>
        </div>
    </div>
</div>