<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">
        <h4 class="text-center">
          Role
        </h4>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-th"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-user"></i> <span>About Me</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pencil"></i> <span>Posts</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-image"></i> <span>Gallery</span>
        </a>
      </li>
    </ul>
  </section>
</aside>