<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools">
      <a class="btn btn-danger btn-sm" *ngIf="isAdd" (click)="isAdd=!isAdd">
        Cancel
      </a>
      <a class="btn btn-info btn-sm" *ngIf="!isAdd" (click)="addProduct()">
        Add Product
      </a>
    </div>
  </div>
  <div class="box-body">
    <ng-container *ngIf="!isAdd">
      <table id="lists" class="table table-striped table-bordered" cellspacing="0" width="100%" *ngIf="products">
        <thead>
          <tr>
            <th>#</th>
            <th>
              Name
            </th>
            <th>
              Image
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="products?.length>0">
            <tr *ngFor="let product of products;let i=index">
              <td>{{i+1}}</td>
              <td>{{product?.product_name}}</td>
              <td>
                <img *ngIf="product?.product_image" [src]="product?.product_image" [alt]="product?.product_name" width="80" height="80" />
                <img *ngIf="!product?.product_image" src="./../../../../../../assets/dist/img/default-50x50.gif " [alt]="product?.product_name" width="80" height="80" />
              </td>
              <td><button class="btn btn-danger" (click)="deleteProduct(i,product.product_id)">Remove</button>
            </tr>
          </ng-container>

        </tbody>
      </table>
      <div class="text-center" *ngIf="!products">
        <p class="text-danger">Products not added !</p>
      </div>
    </ng-container>
    <ng-container *ngIf="isAdd">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="productForm">
            <div class="form-group">
              <label for="product_name">Product Name</label>
              <input type="text" id="product_name" class="form-control" formControlName="product_name" />
            </div>
            <div class="form-group">
              <label for="file">Product Image</label>
              <input type="file" id="file" name="product_image" class="form-control" accept="image/*"
                (change)="onFileChange($event)">
            </div>
            <div class="form-group">
              <button class="btn btn-success" (click)="saveProduct()">Save</button>
            </div>
          </form>
        </div>
      </div>
    </ng-container>
  </div>
</div>