@import url("assets/bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("assets/bower_components/font-awesome/css/font-awesome.min.css");
@import url("assets/bower_components/Ionicons/css/ionicons.min.css");
@import url("assets/dist/css/AdminLTE.min.css");
/* @import url("assets/dist/css/AdminLTEv3.css"); */
@import url("assets/dist/css/bootstrap-datepicker3.min.css");
@import url("assets/dist/css/skins/_all-skins.min.css");
@import url("assets/dist/css/style.css");
@import url("assets/dist/css/iCheck/all.css");
@import url("assets/dist/css/select2.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
p,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.connect {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
}

.layout-boxed {
  min-height: 100vh important !important;
}

.price_lbl {
  font-size: 1.125rem;
}

.my-15 {
  margin: 15px 0 15px 0;
}

.skin-black-light .sidebar-menu>li.active>a {
  font-weight: 600;
}

label {
  font-weight: 500 !important;
  letter-spacing: 2px;
  font-size: 20px;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
  border: 1px solid #d2d6de;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  background-color: #fff;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
  color: #999;
}

.treeview-menu>li.active {
  background-color: #c2cbdb;
}

.treeview-menu>li>a {
  font-size: 20px !important;
}

.invalid-feedback {
  color: indianred;
  text-align: left;
}

.req-field {
  color: indianred;
  text-align: left;
}
