@import url("assets/bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("assets/bower_components/font-awesome/css/font-awesome.min.css");
@import url("assets/bower_components/Ionicons/css/ionicons.min.css");
@import url("assets/dist/css/AdminLTE.min.css");
/* @import url("assets/dist/css/AdminLTEv3.css"); */
@import url("assets/dist/css/bootstrap-datepicker3.min.css");
@import url("assets/dist/css/skins/_all-skins.min.css");
@import url("assets/dist/css/style.css");
@import url("assets/dist/css/iCheck/all.css");
@import url("assets/dist/css/select2.min.css");

.login-page {
  overflow: hidden;
}

.connect {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
}
